@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/*
  === Night ===
  --bg-blur: rgba(21, 21, 21, 0.35);
  --color-text: #fafafa;
  --main-border: #343434;

  === Day ===
  --bg-blur: rgba(169, 169, 169, 0.35);
  --color-text: #454545;
  --main-border: #b5b5b5;
*/

:root{
  --bg-blur: rgba(21, 21, 21, 0.35);
  --color-text: #fafafa;
  --main-border: #343434;
  --bg-image: url("../assets/night.png");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--bg-image);
  /*  background: linear-gradient(217deg, var(--bg-primary), var(--bg-secondary));*/
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  transition: .5s;
}

.main__container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--bg-blur);
  backdrop-filter: blur( 13.5px );
  height: 30em;
  width: 60%;
  border-radius: .6rem;
  border: solid 2px var(--main-border);
}

.container__header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__header i{
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: .5s;
}

.fa-sun:hover{
  color: #ffb86a;
  transform: scale(1.1);
}

.fa-moon:hover{
  color: #fff085;
  transform: scale(1.1);
}

.container__title{
  font-size: 3rem;
}

.container__time{
  display: flex;
  font-size: 8rem;
  gap: 1.5rem;
}

.buttons__container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.buttons__container button{
  padding: 1rem;
  color: var(--color-text);
  background-color: #fafafa15;
  backdrop-filter: blur( 13.5px );
  border-radius: .2rem;
  border: 2px solid #ffffff3f;
  cursor: pointer;
  transition: .5s;
}

.buttons__container button:hover{
  background-color: #fafafa2d;
  border: 2px solid #ffffff56;
  transform: scale(1.1);
}


.main__container a{
  color: #4955ff;
  font-weight: 600;
}

.buttons__container .inative{
  color: var(--color-text);
  background-color: #00000011;
  backdrop-filter: blur( 13.5px );
  border-radius: .2rem;
  border: 2px solid #ffffff13;
  cursor: auto;
}

.buttons__container .inative:hover{
  background-color: #00000011;
  border: 2px solid #ffffff13;
  transform: scale(1);
}

.hidden{
  display: none !important;
}

@media (max-width: 1228px){
  .container__time{
    font-size: 6rem;
  }
}

@media (max-width: 900px){
    .container__time{
    font-size: 4rem;
  }
}

@media (max-width: 700px){
  .container__title{
    font-size: 2.5rem;
  }
  .container__time{
    font-size: 3rem;
  }
  .container__header i{
    top: 1rem;
    right: .5rem;
  }
}

@media (max-width: 550px){
  .main__container{
    width: 100vh;
  }
  .container__time{
    font-size: 3rem;
    gap: 1rem;
  }
}